<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/staff" method="POST">   
        <input type="hidden" name="action" value="adminlogin">    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Admin Password to view and add new staff</label><br>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1"><br>
          <div id="emailHelp" class="form-text" style="font-size: 0.8em;">password=1000</div><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button><br><br>
      </form>


      <form action="/staff" method="POST">   
        <input type="hidden" name="action" value="login"> <br>
        <h2>Staff Login</h2>
        <div class="container my-3">
          <label for="exampleInputEmail1" class="form-label">Staff ID</label>
          <input type="text" class="form-control" name="staff_ID" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" password="password" id="exampleInputPassword1"><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</body>
</html>